<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @question.answer %>
</p>

<p>
  <b>Resource ids:</b>
  <%= @question.resource_ids %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @question.difficulty %>
</p>

<p>
  <b>If judge:</b>
  <%= @question.if_judge %>
</p>
<p>
  <b>有关的知识点:</b>
  <%  @question.knowledge_points.each do |knowledge_point| %>
    <%=  knowledge_point.specific %>
  <% end %>
</p>



<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
