<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= @structure.book.title %>
</p>

<p>
  <b>Unit:</b>
  <%= @structure.unit %>
</p>

<p>
  <b>Chapter:</b>
  <%= @structure.chapter %>
</p>

<p>
  <b>Title:</b>
  <%= @structure.title %>
</p>

<p>
  <b>Parent:</b>
  <%= @structure.parent_id %>
</p>
<p>
  <b>Weight:</b>
  <%= @structure.weight %>
</p>

<%= link_to 'Edit', edit_book_structure_path %> |
<%= link_to 'Back', book_structures_path %>
