<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @student.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @student.salt %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
