<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @administrator.name %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @administrator.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @administrator.salt %>
</p>


<%= link_to 'Edit', edit_administrator_path(@administrator) %> |
<%= link_to 'Back', administrators_path %>
